.flashcards-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.page-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.create-box {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  background: #fafafa;
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.textarea-field {
  resize: vertical;
  height: 80px;
}

.btn-primary {
  width: 100%;
  background: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover {
  background: #0069d9;
}


.sets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.set-item {
  position: relative;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: box-shadow 0.2s;
}

.set-item:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.set-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.btn-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
  background-color: rgb(105, 25, 25);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: rgb(194, 38, 38);
}

.card-list {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
gap: 15px;
}


.card-box {
background: white;
border-radius: 12px;
padding: 15px;
box-shadow: 0 2px 8px rgba(0,0,0,0.12);
position: relative;
transition: transform 0.2s ease;
}


.card-box:hover {
transform: scale(1.02);
}


.card-front {
font-weight: bold;
margin-bottom: 10px;
}



.card-actions {
margin-top: 10px;
text-align: right;
}

.flashcard-container {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.flashcard {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.flipped .flashcard {
  transform: rotateY(180deg);
}


.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-size: 18px;
  font-weight: 600;
}


.flashcard-front {
  background: #ffffff;
}


.flashcard-back {
  background: #add5ec;
  transform: rotateY(180deg);
}


